.header
{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    padding-top: 24px;
    overflow: hidden;
    color: #333333;
}

.header__top
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.header__top-menu
{
    display: flex;
    gap: 48px;
    margin-right: 253px;
}

.header__top-contacts
{
    display: flex;
    gap: 48px;
}

.header__top-link
{
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
}

.header__top-link:first-child
{
    display: flex;
    align-items: center;
    gap: 4px;
}

.header__bottom
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__bottom-form
{
    display: flex;
    gap: 24px;
}

.header__bottom-input
{
    position: relative;
    display: flex;
}

.header__bottom-input svg
{
    position: absolute;
    left: 24px;
    top: 50%;
}

.header__bottom-input input
{
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 24px;
    padding-left: 52px;
    width: 610px;
}

.header__bottom-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__bottom-phonenumber
{
    font-weight: 300;
    font-size: 24px;
    line-height: 133%;
}

.header__bottom-info
{
    font-weight: 300;
    font-size: 12px;
    line-height: 167%;
    color: #999999;
}

